mat-grid-tile {
    border: solid black 1px;
}

mat-grid-tile:hover {
    background-color: gainsboro;
}

mat-grid-tile.selected {
    background-color: greenyellow;
}

mat-grid-tile.reserved {
    background-color: lightcoral;
}

li {
    list-style: none;
    margin-bottom: 2%;
}

span.desc {
    font-weight: bold;
}