<div class="box">
    <div>
        <h1>CIN3MA</h1>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <label for="username">Username: </label>
            <input type="text" id="username" [(ngModel)]="userDat.username" name="username" required>

            <label for="password">Password: </label>
            <input type="password" id="password" [(ngModel)]="userDat.password" name="password" required>

            <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
        </form>
    </div>
</div>