<header>
    <button type="button" (click)="logout()">Logout</button>
</header>
<div class="box">
    <div>
        <h1>Movies</h1>
        <ul class="movies">
            <li *ngFor="let movie of movies">
                <ul>
                    <li id="item">
                        <a routerLink="/movie/{{movie.movie_id}}">
                            {{movie.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <app-tickets></app-tickets>
</div>