header {
    display: flex;
    flex-direction: row-reverse;
}

ul {
    list-style: none;
}

a,
a:visited {
    color: black;
    font-size: large;
}

a:hover {
    background-color: grey;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    border-radius: 0;
}