<h1>Reviews</h1>

<ul>
    <li>
        <ul>
            <li>
                <p class="foo">Leave A Review:</p>
                <form (ngSubmit)="onSubmit()" #reviewForm="ngForm">
                    <div class="form-group">
                        <label for="stars">Stars: </label>
                        <select class="form-control" id="stars" [(ngModel)]="stars" name="userStars " required>
                            <option *ngFor="let star of availableStars" [value]="star">{{star}}</option>
                        </select>

                        <label for="review">Review: </label>
                        <textarea class="form-control" id="review" rows="10" cols="30" maxlength="280"
                            [(ngModel)]="text" name="userReview" required></textarea>

                        <button type="submit" class="btn btn-success" [disabled]="!reviewForm.form.valid">Submit
                            Review</button>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<div *ngIf="reviews.length !== 0; else elseBlock">
    <ul class="reviews">
        <ul>
            <li *ngIf="averageStars" class="foo">Average Stars: {{averageStars}}</li>
        </ul>
        <li *ngFor="let review of reviews">
            <ul class="review">
                <li><span class="desc">Username: </span>{{review.username}}</li>
                <li><span class="desc">Stars: </span>{{review.stars}}</li>
                <li><span class="desc">Text: </span>{{review.text}}</li>
            </ul>
        </li>
    </ul>
</div>
<ng-template #elseBlock>There are currently no reviews for this movie.</ng-template>