<h2>Movie Review</h2>

<h3>Write A Review:</h3>
<!--TODO: add form for user review-->

<div *ngIf="reviews.length !== 0; else elseBlock">
    <h3 *ngIf="averageStars">Average Stars: {{averageStars}}</h3>
    <ul class="reviews">
        <li *ngFor="let review of reviews">
            <p>Username: {{review.username}}</p>
            <p>Stars: {{review.stars}}</p>
            <p>Text: {{review.text}}</p>
        </li>
    </ul>
</div>
<ng-template #elseBlock>There are currently no reviews for this movie.</ng-template>