<button type="button" (click)="goBack()">Movie Details</button>

<h2>Movie Schedule</h2>

<div *ngIf="schedules.length !== 0; else elseBlock">
    <select [(ngModel)]="selectedCinema" (change)="setSchedule()">
        <option *ngFor=" let schedule of filterSchedule(undefined, selectedDate, selectedTime)"
            [ngValue]="schedule.name">
            {{schedule.name}}</option>
    </select>

    <select [(ngModel)]="selectedDate" (change)="setSchedule()">
        <option *ngFor=" let schedule of filterSchedule(selectedCinema, undefined, selectedTime)"
            [ngValue]="schedule.date">
            {{schedule.date | date:'fullDate'}}
        </option>
    </select>

    <select [(ngModel)]="selectedTime" (change)="setSchedule()">
        <option *ngFor="let schedule of filterSchedule(selectedCinema, selectedDate, undefined)"
            [ngValue]="schedule.time">
            {{schedule.time}}</option>
    </select>
    <button type="button" (click)="resetScheduleSelection()">Reset Selection</button>

    <!-- TODO: change alignment of elements-->
</div>
<ng-template #elseBlock>There are currently no schedules for this movie.</ng-template>

<app-movie-seat [schedule]="selectedSchedule"></app-movie-seat>